@inject IStringLocalizer<SharedResources> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🧯 @Localizer["AppName"]</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Localizer["Dashboard"]
            </NavLink>
        </div>

        <AuthorizeView Roles="SystemAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Tenants">
                    <span class="bi bi-building" aria-hidden="true"></span> @Localizer["Tenants"]
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="TenantAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tenant/Sites">
                    <span class="bi bi-geo-alt" aria-hidden="true"></span> @Localizer["Sites"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tenant/ObjectTypes">
                    <span class="bi bi-tag" aria-hidden="true"></span> @Localizer["ObjectTypes"]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Tenant/SecurityPlans">
                    <span class="bi bi-shield-lock" aria-hidden="true"></span> @Localizer["SecurityPlans"]
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Inspector,TenantAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Inspector/Rounds">
                    <span class="bi bi-clipboard-check" aria-hidden="true"></span> @Localizer["InspectionRounds"]
                </NavLink>
            </div>
        </AuthorizeView>

        <hr />

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> @Localizer["Logout"]
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> @Localizer["Login"]
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

